<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>業務用日付を計算する</title>
</head>
<body>
    <div>
        <a th:href="@{/new}">新規登録</a>
    </div>
    <ul th:each="dateCalcData : ${dateCalcDataList}">
        <li>表示されてる？</li>
        <li th:text="${dateCalcData.dateId}"></li>
        <li th:text="${dateCalcData.dateName}"></li>
        <li th:text="${dateCalcData.plusLessYear}"></li>
        <li th:text="${dateCalcData.plusLessMonth}"></li>
        <li th:text="${dateCalcData.plusLessDay}"></li>
        <li><a th:href="@{'/update/' + ${dateCalcData.dateId}}">更新</a></li>
        <li><a th:href="@{'/delete/' + ${dateCalcData.dateId}}">削除</a></li>
    </ul>
</body>
</html>