<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <form th:action="@{/create}" th:object="${NewForm}" method="POST">
        <table>
            <tr>
                <td>日付名前</td>
                <td><input type="text" name="dateName" th:field="*{dateName}"></td>
            </tr>
            <tr>
                <td>年</td>
                <td><input type="text" name="plusLessYear" th:field="*{plusLessYear}"></td>
            </tr>
            <tr>
                <td>月</td>
                <td><input type="text" name="plusLessMonth" th:field="*{plusLessMonth}"></td>
            </tr>
            <tr>
                <td>日</td>
                <td><input type="text" name="plusLessDay" th:field="*{plusLessDay}"></td>
            </tr>
        </table>
        <button type="submit">送信</button>
    </form>
</body>
</html>