<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" />
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<title>更新</title>
</head>
<body>
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-6">
		        <form th:action="@{/update}" th:object="${updateForm}" method="POST">
		            <div class="form-group">
		                <label for="dateName">計算名</label>
		                <input type="text" class="form-control" id="dateName" name="dateName" th:field="*{dateName}">
		            </div>
		            <div class="form-group">
		                <label for="plusLessYear">年</label>
		                <input type="text" class="form-control" id="plusLessYear" name="plusLessYear" th:field="*{plusLessYear}">
		            </div>
		            <div class="form-group">
		                <label for="plusLessMonth">月</label>
		                <input type="text" class="form-control" id="plusLessMonth" name="plusLessMonth" th:field="*{plusLessMonth}">
		            </div>
		            <div class="form-group">
		                <label for="plusLessDay">日</label>
		                <input type="text" class="form-control" id="plusLessDay" name="plusLessDay" th:field="*{plusLessDay}">
		            </div>
			        <input type="hidden" th:field="*{dateId}">
			        <button class="btn btn-danger" type="submit">更新</button>
		        </form>
            </div>
        </div>
    </div>
</body>
</html>